
.footer{
    &__body{
        width:100%;
        height:80px;
        background:$pearlescent-copper4;
    }

    &__foottxt{
        position: absolute;
        width:85px;
        height:22px;
        left: 1514px;
        top: 1032px;
 

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* WHITE */
        color: #FFFFFF;
    }

    &__vkft{
        position: absolute;
        width:31px;
        height:31px;
        left: 1645px;
        top: 1027px;


    }

    &__instft{
        position: absolute;
        left: 1693px;
        top: 1027px;


    }

    &__fbft{
        position: absolute;
        left: 1741px;

        top: 1027px;



    }

    &__tgft{
        position: absolute;
        left: 1789px;
 
        top: 1027px;
    

    }
}