.admin{
    &__body{
        display:flex;
    }

    &__bread{
  
position: absolute;
width: 270px;
height: 27px;
left: 825px;
top: 21px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 27px;
/* identical to box height */


color: #FFFFFF;      
    }
    &__form{
        position: absolute;
        width: 667px;
        height: 844px;
        left: 110px;
        top: 113px;

        background: rgba(232, 232, 232, 0.7);
    }

    &__ph{
        position: absolute;
        width: 327px;
        height: 304px;
        left: 170px;
        top: 49px;
    }

    &__id{
        position: absolute;
        width: 380px;
        height: 22px;
        left: 66px;
        top: 384px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */


        color: #000000
    }

    &__name{
        position: absolute;
        width: 60px;
        height: 22px;
        left: 66px;
        top: 446px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        
        
        color: #000000;
    }

    &__sex{
        position: absolute;
        width: 35px;
        height: 22px;
        left: 66px;
        top: 523px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        
        
        color: #000000;
    }

    &__dob{
        position: absolute;
        width: 118px;
        height: 22px;
        left: 66px;
        top: 600px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        
        
        color: #000000;
    }

    &__address{
        position: absolute;
        width: 173px;
        height: 22px;
        left: 66px;
        top: 677px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        
        
        color: #000000;
    }

    &__mobph{
        position: absolute;
        width: 129px;
        height: 22px;
        left: 66px;
        top: 754px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        
        
        color: #000000;
    }
 &__nametxt{
        position: absolute;
        width: 142px;
        height: 22px;
        left: 266px;
        top: 446px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */


        color: #000000;

    }
    &__nameform{
        

        position: absolute;
        width: 385px;
        height: 40px;
        left: 255px;
        top: 437px;
        
        background: #FFFFFF;
    }

   


    &__sextxt{
        position: absolute;
        width: 12px;
        height: 22px;
        left: 266px;
        top: 523px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        
        
        color: #000000;
        
    }

    &__sexform{
  
        position: absolute;
        width: 385px;
        height: 40px;
        left: 255px;
        top: 514px;
        
        background: #FFFFFF;
    }
   

    &__dobtxt{
        position: absolute;
        width: 94px;
        height: 22px;
        left: 266px;
        top: 600px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        
        
        color: #000000;
    }
 &__dobform{
      

        position: absolute;
        width: 385px;
        height: 40px;
        left: 255px;
        top: 591px;
        
        background: #FFFFFF;
    }
    &__addressform{

        position: absolute;
        width: 385px;
        height: 40px;
        left: 255px;
        top: 668px;
        
        background: #FFFFFF;
    }

    &__addresstxt{
        position: absolute;
        width: 365px;
        height: 22px;
        left: 266px;
        top: 677px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        
        
        color: #000000;
    }
    &__mobphform{


        position: absolute;
        width: 385px;
        height: 40px;
        left: 255px;
        top: 745px;
        
        background: #FFFFFF;
    }

    &__mobphtxt{
        position: absolute;
        width: 184px;
        height: 22px;
        left: 266px;
        top: 754px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        
        
        color: #000000;
    }
}