@mixin button-bg($bg){

    &:hover{
        text-decoration-line: underline;
    }
    &:active{ /*когда нажимаем*/
        background: $bg;
        text-decoration-line: underline;
    }
}

.buttonrg{ 
        /*text-button*/ 
position:absolute;
 width: 95px;
 height: 27px;
 left: 1426px;
 top: 833px;
 display:flex;
 align-items: center;
 justify-content: center;
 text-align: center;


 font-family: Montserrat;
 font-style: normal;
 font-weight: 600;
 font-size: 22px;
 line-height: 27px;

 display: flex;
 align-items: center;
 text-align: right;
 color: #72422F; 

    
    /*button*/
    position: absolute;
    width: 199px;
    height: 55px;
    left: 1374px;
    top: 819px;
     
 
    
    border: 4px solid #72422F;
    box-sizing: border-box;
    @include button-bg($desert-sand2); 
}



.buttonen{
    /*text button*/
    position: absolute;
    width: 68px;
    height: 29px;
    left: 1208px;
    top: 698px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    position: absolute;
    width: 210px;
    height: 64px;
    left: 1138px;
    top: 681px;

    border: 3px solid #000000;
    box-sizing: border-box;
    @include button-bg($black);
    &:active{
        color:#fff;
    }
}
.buttonsrch1{
    position: absolute;
    width: 49px;
    height: 21px;
    left: 1144px;
    top: 680px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    color: #FFFFFF;
    /*bttn*/
    position: absolute;
    width: 156px;
    height: 34px;
    left: 1091px;
    top: 673px;
    background: $pearlescent-copper4;
    @include button-bg($light-yellow-brown1);
}
.buttonsrch2{
    position: absolute;
    width: 49px;
    height: 21px;
    left: 1401px;
    top: 680px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    color: #FFFFFF;
    /*bttn*/
    position: absolute;
    width: 156px;
    height: 34px;
    left: 1347px;
    top: 673px;
    background: $pearlescent-copper4;
    @include button-bg($light-yellow-brown1);
}
.buttonmao{
    position: absolute;
    width: 149px;
    height: 24px;
    left: 319px;
    top: 798px;
    right:317px;
    bottom:58px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #401E12;
    /*bttn*/
    position: absolute;
width: 240px;
height: 50px;
left: 273px;
top: 785px;
right:272px;
bottom:45px;

border: 3px solid #401E12;
box-sizing: border-box;
@include button-bg($desert-sand2);
}
.buttonap{
    position: absolute;
width: 75px;
height: 22px;
left: 1527px;
top: 866px;
display:flex;
align-items: center;
justify-content: center;
text-align: center;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #72422F;
    /*bttn*/
    position: absolute;
width: 171px;
height: 40px;
left: 181px;
top: 139px;

border: 3px solid #72422F;
box-sizing: border-box;
@include button-bg($desert-sand2);
}
.buttonto{
    position: absolute;
    width: 99px;
    height: 22px;
    left: 1486px;
    top: 678px;
    
display:flex;
align-items: center;
justify-content: center;
text-align: center;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #72422F;
    /*bttn*/
    position: absolute;
    width: 171px;
    height: 40px;
    left: 1450px;
    top: 669px;

border: 3px solid #72422F;
box-sizing: border-box;
@include button-bg($desert-sand2);
}
.buttdel1{
    position: absolute;
width: 41px;
height: 29px;
left: 817px;
top: 543px;
display:flex;
align-items: center;
justify-content: center;
text-align: center;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #000000;
    /*bttn*/
    position: absolute;
width: 201px;
height: 50px;
left: 737px;
top: 533px;
background: #F2D6BD;
@include button-bg($light-yellow-brown1);
}
.buttdel2{
    position: absolute;
width: 35px;
height: 29px;
left: 1065px;
top: 543px;
display:flex;
align-items: center;
justify-content: center;
text-align: center;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #000000;
    /*bttn*/
    position: absolute;
width: 201px;
height: 50px;
left: 982px;
top: 533px;

background: #F2D6BD;
@include button-bg($light-yellow-brown1);
}

.butyes{
    position: absolute;
    width: 41px;
    height: 29px;
    left:127px;
    top: 167px;
     display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    
    color: #000000;
    &:active{
        color:$white;
    }

    
    /*bttn*/
    position: absolute;
    width: 201px;
    height: 50px;
    left: 47px;
    top: 157px;

    background: #F2D6BD;

    @include button-bg($signal-brown)
    
   
}

.butno{
    position: absolute;
    width: 35px;
    height: 29px;
    left: 375px;
    top: 167px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    
    color: #000000;
    &:active{
        color:$white;
    }

    
    position: absolute;
width: 201px;
height: 50px;
left: 292px;
top: 157px;

background: #F2D6BD;
@include button-bg($signal-brown)
}

