.fap{

    &__body{
        display:flex;
        
    }

    &__bread{
        position: absolute;
width: 381px;
height: 27px;
left: 769px;
top: 21px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 27px;
/* identical to box height */


color: #FFFFFF;
    }

    &__ordform{
        position: absolute;
        width: 785px;
        height: 880px;
        left: 568px;
        top: 95px;

        background: rgba(242, 214, 189, 0.7);
    }
    &__ordtext{
        position: absolute;
        width: 369px;
        height: 44px;
        left: 208px;
        top: 38px;
        right:208px;
        bottom:798px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: center;

        color: #401E12;
    }
    &__pet{
        position: absolute;
        width: 43px;
        height: 29px;
        left: 56px;
        top: 125px;
        right:686px;
        bottom:726px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #401E12;
    }

    &__service{
        position: absolute;
        width: 90px;
        height: 29px;
        left: 56px;
        top: 201px;
        right:639px;
        bottom:650px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #401E12;
    }

    &__chadate{
        position: absolute;
        width: 176px;
        height: 29px;
        left: 56px;
        top: 282px;
        right:553px;
        bottom:569px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #401E12;
    }

    &__payment{
        position: absolute;
        width: 113px;
        height: 29px;
        left: 56px;
        top: 622px;
        right:616px;
        bottom:229px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #401E12;
    }

    &__petsitter{
        position: absolute;
        width: 107px;
        height: 29px;
        left: 56px;
        top: 701px;
        right:622px;
        bottom:150px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #401E12;
    }

    &__formcal{
        position: absolute;
        width: 455px;
        height: 297px;
        left: 241px;
        top: 277px;
        right:89px;
        bottom:306px;

        background: #FFFFFF;
        border-radius: 10px;
    }

    &__formcal1{
        position: absolute;
        width: 425px;
        height: 238px;
        left: 16px;
        top: 39px;
        right:14px;
        bottom:20px;

        background: rgba(191, 117, 90, 0.9);
        border-radius: 10px;
    }

    &__formcal2{
        position: absolute;
        width: 425px;
        height: 23px;
        left: 16px;
        top: 39px;
        right:14px;
        bottom:235px;

        background: #733D29;
        border-radius: 10px;
    }

    &__textcal{
        position: absolute;
        width: 75px;
        height: 24px;
        left: 194px;
        top: 6px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #000000;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);position: absolute;
        width: 75px;
        height: 24px;
        left: 194px;
        top: 6px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #000000;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__arrl{
        position: absolute;
        width: 30px;
        height: 30px;
        left: 20px;
        top: 6px;
    }
    &__arrr{
        position: absolute;
        width: 30px;
        height: 30px;
        right: 12px;
        top: 6px;

    }

    @mixin weekday($width,$left){
        position: absolute;
        width: $width;
        height: 15px;
        left: $left;
        top: 4px;
        bottom:4px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF;
    }

    &__mon{
        @include weekday(32px,26px);
    }
    &__tue{
        @include weekday(25px,86px );
    }
    &__wed{
        @include weekday(32px,141px );
    }
    &__thu{
        @include weekday(27px,203px);
    }
    &__fri{
        @include weekday(21px,262px);
    }
    &__sat{
        @include weekday(24px,317px);
    }
    &__sun{
        @include weekday(27px,371px );
    }

    &__ell{
        position: absolute;
        width: 23px;
        height: 23px;
        left: 372px;
        top: 32px;

        background: rgba(255, 255, 255, 0.5);
        border-radius: 100%;
    }

    @mixin grey($width1,$left1){
        position: absolute;
        width: $width1;
        height: 15px;
        left: $left1;
        top: 36px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: center;

        color: #7C6161;
    }

    &__26{
      @include grey(15px,35px);
    }
    &__27{
        @include grey(15px,91px );
    }
    &__28{
        @include grey(15px,148px );
    }
    &__29{
        @include grey(15px,210px );
    }
    &__30{
        @include grey(16px,266px );
    }
    &__31{
        @include grey(12px, 323px);
    }
    &__1{
        position: absolute;
        width: 5px;
        height: 15px;
        left: 153px;
        top: 209px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        
        display: flex;
        align-items: center;
        text-align: center;
        
        color: #7C6161;
    }
    &__2{
        position: absolute;
        width: 7px;
        height: 15px;
        left: 212px;
        top: 209px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: center;

        color: #7C6161;
    }
    &__3{
        position: absolute;
        width: 7px;
        height: 15px;
        left: 270px;
        top: 209px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: center;

        color: #7C6161;     
    }
    &__4{
        position: absolute;
        width: 9px;
        height: 15px;
        left: 324px;
        top: 209px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: center;

        color: #7C6161;
    }
    &__5{
        position: absolute;
        width: 8px;
        height: 15px;
        left: 380px;
        top: 209px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: center;

        color: #7C6161;
    }

    @mixin black($wid,$l,$t){
        position: absolute;
        width: $wid;
        height: 15px;
        left: $l;
        top: $t;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: center;

        color: #000000;
    }

    &__111{
        @include black(5px,381px,36px);
    }
    &__222{
        @include black(7px,38px,70px );
    }
    &__33{
        @include black(7px,95px, 70px );
    }
    &__44{
        @include black(9px,151px, 70px );
    }
    &__55{
        @include black(8px,212px ,70px );
    }
    &__6{
        @include black(8px,269px,70px );
    }
    &__7{
        @include black(8px,324px , 70px);
    }
    &__8{
        @include black(8px,380px, 70px );
    }
    &__9{
        @include black(8px, 38px,106px );
    }
    &__10{
        @include black(13px,91px,106px );
    }
    &__11{
        @include black(10px,151px, 106px ); 
    }
    &__12{
        @include black(12px,210px, 106px );
    }
    &__13{
        @include black(12px,268px,106px );
    }
    &__14{
        @include black(13px,322px ,106px );
    }
    &__15{
        @include black(12px, 378px,106px );
    }
    &__16{
        @include black(13px,36px, 139px ); 
    }
    &__17{
        @include black(12px,91px, 139px );
    }
    &__18{
        @include black(13px, 150px, 139px);
    }
    &__19{
        @include black(13px,209px,139px);
    }
    &__20{
        @include black(16px, 266px,139px);
    }
    &__21{
        @include black(12px,323px, 139px);
    }
    &__22{
        @include black(14px, 373px,139px );
    }
    &__23{
        @include black(14px, 35px,174px );
    }
    &__24{
        @include black(15px,89px,174px );
    }
    &__25{
        @include black(14px,149px, 174px); 
    }
    &__262{
        @include black(15px, 208px,174px );
    }
    &__272{
        @include black(15px, 266px,174px );
    }
    &__282{
        @include black(15px,322px, 174px);
    }
    &__292{
        @include black(15px,376px,174px );
    }
    &__302{
        @include black(16px,35px, 209px);
    }
    &__312{
        @include black(12px,91px, 209px);
    }
    select {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        width: 449px;
        height:38px;
        background-color: #fff;
    }

}