.petacc{
    &__body{
        display:flex;
    }

    &__bread{
        position: absolute;
width: 270px;
height: 27px;
left: 825px;
top: 21px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 27px;
/* identical to box height */


color: #FFFFFF;
    }

    &__ph1{
        position: absolute;
        width: 347.87px;
        height: 304px;
        left: 110px;
        top: 154px;
    }

    &__txtid{
        position: absolute;
        width: 380px;
        height: 22px;
        left: 497px;
        top: 158px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */


        color: #000000;
    }

    &__txtpet{
        position: absolute;
        width: 58px;
        height: 29px;
        left: 110px;
        top: 504px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;

        color: #000000;
    }

    &__nameacc{
        position: absolute;
        width: 60px;
        height: 22px;
        left: 497px;
        top: 199px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */


        color: #000000;
    }

    &__sexacc{
        position: absolute;
        width: 35px;
        height: 22px;
        left: 497px;
        top: 257px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */


        color: #000000;
    }

    &__dobacc{
        position: absolute;
        width: 118px;
        height: 22px;
        left: 497px;
        top: 315px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */


        color: #000000;
    }

    &__address{
        position: absolute;
        width: 173px;
        height: 22px;
        left: 497px;
        top: 373px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */


        color: #000000;
    }

    &__mobph{
        position: absolute;
        width: 129px;
        height: 22px;
        left: 497px;
        top: 431px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */


        color: #000000;
    }


    @mixin formacc($top){
        position: absolute;
        width: 385px;
        height: 40px;
        left: 693px;
        top: $top;

        background: #FFFFFF;
    }


    &__nameform{  

        @include formacc(190px);
     
    }
    
    &__sexform{
      
        @include formacc(248px);
        
    }

    &__dobform{ 
   
        @include formacc(306px);
       
    }

    &__addressform{ 
  
        @include formacc(364px);
       

    }

    &__mobphform{

        @include formacc(422px);
        
    }

    &__nametxt{
        position: absolute;
        width: 129px;
        height: 22px;
        left: 704px;
        top: 199px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        
        
        color: #000000;
    }
    &__sextxt{
        position: absolute;
        width: 12px;
        height: 22px;
        left: 704px;
        top: 257px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        
        
        color: #000000;        
    }
    &__dobtxt{
        position: absolute;
        width: 89px;
        height: 22px;
        left: 704px;
        top: 315px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        
        
        color: #000000;       
    }
    &__addresstxt{
        position: absolute;
        width: 365px;
        height: 22px;
        left: 704px;
        top: 373px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        
        
        color: #000000;        
    }
    &__mobphtxt{
        position: absolute;
        width: 184px;
        height: 22px;
        left: 704px;
        top: 431px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        
        
        color: #000000;      
    }

    &__formreq{
        position: absolute;
        width: 569px;
        height: 560px;
        left: 1251px;
        top: 193px;

        background: linear-gradient(237.54deg, #FFFFFF -9.85%, rgba(255, 255, 255, 0) 118.01%);
    }

    &__maintxt{
        position: absolute;
        width: 122px;
        height: 32px;
        left: 40px;
        top: 39px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 32px;
        /* identical to box height */


        color: rgba(0, 0, 0, 1);
 
    }
    &__arrl{
        position: absolute;
        width: 50px;
        height: 50px;
        left: 28px;
        top: 255px;
    }
    &__arrr{
        position: absolute;
        width: 50px;
        height: 50px;
        left: 491px;
        top: 255px;
        
        
    }

    &__serreq{
        position: absolute;
        width: 193px;
        height: 29px;
        left: 114px;
        top: 111px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;

        color: #000000;   
    }

    &__userreq{
        position: absolute;
        width: 238px;
        height: 29px;
        left: 114px;
        top: 170px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        
        color: #000000;
    }

    &__datereq{
        position: absolute;
        width: 372px;
        height: 29px;
        left: 114px;
        top: 229px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        
        color: #000000;
    }

    &__payreq{
        position: absolute;
width: 182px;
height: 29px;
left: 114px;
top: 288px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #000000;
    }

    &__petreq{
        position: absolute;
        width: 185px;
        height: 29px;
        left: 114px;
        top: 347px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        
        color: #000000;
    }

    &__prireq{
        position: absolute;
        width: 161px;
        height: 29px;
        left: 114px;
        top: 406px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        
        color: #000000;
    }

    &__formdel{
        position: absolute;
        width: 374px;
        height: 88px;
        left: 110px;
        top: 537px;
        
        background: linear-gradient(178.4deg, #FFFFFF -30.89%, rgba(255, 255, 255, 0) 137.15%);       
    }

    &__txtdel{
        position: absolute;
        width: 314px;
        height: 20px;
        left: 30px;
        top: 34px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
        
        
        color: #000000;       
    }

    &__rev{
        position: absolute;
        width: 569px;
        height: 93px;
        left: 110px;
        top: 684px;
        
        background: linear-gradient(262.38deg, #FFFFFF 21.42%, rgba(255, 255, 255, 0) 136.85%);
    }

    &__revtxt{
        position: absolute;
        width: 447px;
        height: 21px;
        left: 61px;
        top: 36px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;

        color: #000000;
    }
    &__vs{
        position: absolute;
        width: 13px;
        height: 61px;
        left: 8px;
        top: 13px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 61px;
        /* identical to box height */
        
        
        color: #000000;
    }

}