.reviews{
    &__body{
        display:flex;
    }

    &__bread{
        position: absolute;
width: 268px;
height: 27px;
left: 826px;
top: 21px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 27px;
/* identical to box height */


color: #FFFFFF;
    }

    &__form1{
        position: absolute;
        width: 667px;
        height: 844px;
        left: 188px;
        top: 124px;

        background: rgba(242, 214, 189, 0.7)
    }

    &__phpet{
        position: absolute;
        width: 362px;
        height: 354px;
        left: 153px;
        top: 55px;
        right:152px;
        bottom:435px;
    }

    &__arrleft{
        position: absolute;
        width: 70px;
        height: 70px;
        left: 35px;
        top: 436px;
        right:562px;
        bottom:338px;

    }

    &__arrright{
        position: absolute;
        width: 70px;
        height: 70px;
        left: 561px;
        top: 436px;
        right:36px;
        bottom:338px;
    }

    &__accnm{
        position: absolute;
        width: 200px;
        height: 34px;
        left: 153px;
        top: 436px;
        right:314px;
        bottom:374px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 34px;

        color: #000000;
    }

    &__pet{
        position: absolute;
        width: 155px;
        height: 24px;
        left: 153px;
        top: 478px;
        right:359px;
        bottom:342px;


        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;

        color: #000000;
    }

    &__petsitter{
        position: absolute;
        width: 253px;
        height: 24px;
        left: 153px;
        top: 512px;
        right:261px;
        bottom:308px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;

        color: #000000;
    }

    &__service{
        position: absolute;
        width: 221px;
        height: 24px;
        left: 153px;
        top: 547px;
        right:293px;
        bottom:273px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;

        color: #000000;
    }

    &__time{
        position: absolute;
        width: 312px;
        height: 24px;
        left: 153px;
        top: 581px;
        right:202px;
        bottom:239px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;

        color: #000000;
    }

    &__review{
        position: absolute;
        width: 405px;
        height: 144px;
        left: 153px;
        top: 616px;
        right:109px;
        bottom:84px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;

        color: #000000;
    }

    &__grade{
        position: absolute;
        width: 66px;
        height: 24px;
        left: 153px;
        top: 772px;
        right:448px;
        bottom:48px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;

        color: #000000;
    }

    &__star1{
        position: absolute;
        width: 24px;
        height: 24px;
        left: 229px;
        top: 772px;
        right:414px;
        bottom:48px;
    }

    &__star2{
        position: absolute;
        width: 24px;
        height: 24px;
        left: 259px;
        top: 772px;
        right:384px;
        bottom:48px;

    }

    &__star3{
        position: absolute;
        width: 24px;
        height: 24px;
        left: 291px;
        top: 772px;
        right:352px;
        bottom:48px;

    }

    &__star4{
        position: absolute;
        width: 24px;
        height: 24px;
        left: 321px;
        top: 772px;
        right:322px;
        bottom:48px;

    }

    &__star5{
        position: absolute;
        width: 24px;
        height: 24px;
        left: 351px;
        top: 772px;
        right:292px;
        bottom:48px;

    }

    &__formrev{
        position: absolute;
        width: 667px;
        height: 844px;
        left: 1065px;
        top: 124px;

        background: rgba(242, 214, 189, 0.7);
    }

    &__formrevtxt{
        position: absolute;
        width: 131px;
        height: 39px;
        left: 260px;
        top: 31px;
        right:276px;
        bottom:774px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 39px;
        /* identical to box height */
    color: #000000;
    }

    
    &__grade2{
        position: absolute;
        width: 66px;
        height: 24px;
        left: 100px;
        top: 774px;
        right:501px;
        bottom:46px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;

        color: #000000;
    }

    &__star12{
        position: absolute;
        width: 24px;
        height: 24px;
        left: 176px;
        top: 774px;
        right:467px;
        bottom:46px;
        &:hover{
            background-image: url(/images/star.png);
        }
        &:active{
            background-image: url(/images/star.png);
        }
    }

    &__star22{
        position: absolute;
        width: 24px;
        height: 24px;
        left: 206px;
        top: 774px;
        right:437px;
        bottom:46px;
        &:active{
            color:#733D29;
        }
    }

    &__star32{
        position: absolute;
        width: 24px;
        height: 24px;
        left: 238px;
        top: 774px;
        right:405px;
        bottom:46px;
        &:active{
            color:#733D29;
        }
    }

    &__star42{
        position: absolute;
        width: 24px;
        height: 24px;
        left: 268px;
        top: 774px;
        right:375px;
        bottom:46px;
        &:active{
            color:#733D29;
        }
    }

    &__star52{
        position: absolute;
        width: 24px;
        height: 24px;
        left: 298px;
        top: 774px;
        right:345px;
        bottom:46px;
        &:active{
            color:#733D29;
        }
    }

    
}