@import 'vendors/normalize';

@import 'base/colors';

@import 'base/fonts';

@import 'base/form';

@import 'components/buttons';

@import 'components/registration';

@import 'components/enter';

@import 'components/mainpg';

@import 'headfoot/header';

@import 'headfoot/footer';

@import 'components/sfhts';

@import 'components/au';

@import 'components/reviews';

@import 'components/fap';

@import 'components/acc';

@import 'components/revpetsit';

@import 'components/petacc';

@import 'components/admin';

@import 'components/del';

@import 'components/del1';

@import 'components/del2';

@import 'components/del3';

@import 'components/adaptive';