$light-yellow-brown1: rgb(191, 137, 90) !default;
$desert-sand2: rgb(242, 214, 189) !default;
$dark-yellow-brown3: rgb(64, 30, 18) !default;
$pearlescent-copper4: rgb(115, 61, 41) !default;
$chestnut-craiola5: rgb(191, 117, 90) !default;
$black: rgb(0,0,0) !default;
$white: rgb(255,255,255) !default;
$almond-craiola: rgb(233,210,194) !default;
$signal-brown: rgb(114,66,47) !default;